.text-center {
    color: #565656;
    font-weight: bold;
    margin: 10px;
    border-radius: 25px;
}
.cardImage {
    display: block;
    max-width: 20%;
    max-height: 20%;
    margin: 10px;
}
.cardFooter {
    margin: 10px;
}
.favbutton {
    background-color: #f8a72e;
    border-color: #f8a72e;
    border-radius: 12px;
}
.favbutton:hover {
    background-color: #faac36;
    border-color: #faac36;
    border-radius: 15px;

}
.wholedeck {
    margin-left: 100px; 
    margin-right: 100px;
    margin-bottom: 100px;
}
.ratingswords {
    font-size: 10px;
}