.text-center {
    color: #565656;
    font-weight: bold;
    margin: 10px;
}
.cardImage {
    display: block;
    max-width: 20%;
    max-height: 20%;
    margin: 10px;
}
.cardFooter {
    margin: 10px;
}
.favbutton {
    background-color: #ffbd59;
    border-color: #ffbd59;
    border-radius: 12px;
}
.favbutton:hover {
    background-color: #4e3309;
    border-color: #4e3309;
    border-radius: 15px;
}
.wholedeck {
    margin-left: 100px; 
    margin-right: 100px;
}
