.pic {
    margin-left: 10%;
    margin-right: 15%;
    margin-bottom: 100px;
    margin-top: 20px;
}
.title {
    color: ivory;
    margin-bottom: 0px;
    background: rgba(167, 167, 167, 0.486); 
    width: 275px; 
    text-align: center;
    margin-left: 550px;
    
}
.description {
    margin-bottom: 30px;
    background: rgba(167, 167, 167, 0.486); 
    width: 275px;
    margin-left: 550px;
    font-size: 16px;
}
.favbuttonc {
    margin-bottom: 200px;
    background-color: #f8a72ec5;
    border-color: #f8a72e96; 
    border-radius: 12px;
    margin-left: 535px;
}
.favbuttonc:hover {
    background-color: #f8a72e;
    border-color: #f8a72e96;
    border-radius: 12px;


}
